---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4000000000000002&card[exp_month]=12&card[exp_year]=2017&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_RWQV3aNdqq3iQ2s65Ij8LZfc
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-12-22'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_15FoXmFduSPdjBxWN9RFRIyC",
          "livemode": false,
          "created": 1420040274,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_15FoXmFduSPdjBxWNEp843FB",
            "object": "card",
            "last4": "0002",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 12,
            "exp_year": 2017,
            "fingerprint": "lqOFUwgjP82ie4sv",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "unchecked",
            "address_line1_check": null,
            "address_zip_check": null,
            "dynamic_last4": null
          }
        }
  recorded_at: Wed, 31 Dec 2014 15:37:47 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=usd&card=tok_15FoXmFduSPdjBxWN9RFRIyC
    headers:
      Authorization:
      - Bearer sk_test_RWQV3aNdqq3iQ2s65Ij8LZfc
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-12-22'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined",
            "charge": "ch_15FoXuFduSPdjBxW9TZrvyue"
          }
        }
  recorded_at: Wed, 31 Dec 2014 15:37:56 GMT
recorded_with: VCR 2.9.3
