!!! 5
%html(lang="en-US")
  %head
    %title MyFlix - a video on demand service
    %meta(charset="UTF-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
  %body
    %h3
      Welcome to MyFlix, #{@user.full_name}.
    %p
      You have successfully signed up to MyFlix.
      %br
    %p 
      Thanks for joining and have a great day!