---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=usd&card=tok_15G1UhFduSPdjBxWgmiDPVzt
    headers:
      Authorization:
      - Bearer sk_test_RWQV3aNdqq3iQ2s65Ij8LZfc
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-12-22'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined",
            "charge": "ch_15G1UnFduSPdjBxWfSN5rMqa"
          }
        }
  recorded_at: Thu, 01 Jan 2015 05:27:38 GMT
recorded_with: VCR 2.9.3
